h1 {
	text-align: center;
	margin-top: 20px;
	font-size: 28px;
}
table {
	margin: 20px auto 0 auto;
	border: 11px solid #fff;
}
td {
	border: 10px solid #000;
}
.line1 {
	height: 47px;
}
.line2,
.line3 {
	height: 130px;
}
.line4,
.line5 {
	height: 60px;
}
.line6,
.line7 {
	height: 32px;
}
.cell1 {
	width: 48px;
}
.cell2 {
	width: 130px;
}
.cell3 {
	width: 60px;
}
.cell4 {
	width: 130px;
}
.cell5 {
	width: 79px;
}
.cell6 {
	width: 76px;
}
.line1 .cell5, 
.line2 .cell5,
.line5 .cell1 {
	background: #fffa79;
}
.line2 .cell2 {
	background: #ff5b3d;
}
.line5 .cell5 {
	background: #0b4484;
} 
.line4 .cell2, 
.line4 .cell3,
.line5 .cell2,
.line5 .cell3,
.line6 .cell4 {
	background: #2e3834;
}