@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league-gothic/league-gothic_allfont.ru-webfont.eot');
    src: url('../fonts/league-gothic/league-gothic_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic/league-gothic_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/league-gothic/league-gothic_allfont.ru-webfont.woff') format('woff'),
         url('../fonts/league-gothic/league-gothic_allfont.ru-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic/league-gothic_allfont.ru-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans/league-gothic/opensans-light-webfont.eot');
    src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/open-sans-extrabold/2206-webfont.eot');
    src: url('../fonts/open-sans-extrabold/2206-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-extrabold/2206-webfont.woff2') format('woff2'),
         url('../fonts/open-sans-extrabold/2206-webfont.woff') format('woff'),
         url('../fonts/open-sans-extrabold/2206-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-extrabold/2206-webfont.svg#open_sansextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}
img {
	display: block;	
}
.clearfix::after {
	content: '';
	display: block;	
	clear: both;
}
/******************** HEADER ********************/
header {
	height: 846px;
	box-sizing: border-box;
	background: #c6c6c6;
	background-image: url('../img/bg_header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:  50% 50%;
	border-bottom: 1px solid #35283c;
	overflow: hidden;
}
.center {
	width: 960px;	
	margin: 0 auto;
	font-size: 0;
}
.logo {
	float: left;
	margin-top: 51px;
}
.menu {
	float: right;
	margin-top: 74px;
}
.menu__inner {
	float: left;
	margin-right: 40px;
}
.menu__link {
	display: block;
	color: #fff;
    font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 24px;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
	text-decoration: none;
	padding: 0px 5px 0px 7px;
	text-transform: uppercase;
}
.menu__inner.last {
	margin-right: 0px;
}
.menu__link.last {
	padding: 0px 0px 0px 7px;
}
.menu__inner::after {
	display: block;
	content:'';
	height: 2px;
	width: 0%;
	background: #edbfff;
	transition: width .2s ease-in-out;
	margin: 0 auto;
}
.menu__inner:hover:after,
.menu__inner:focus:after {
    width: 100%;
}
.slider__wrapper {
	width: 100%;
	height: 400px;
	background-color: rgba(0,0,0, .2);
	margin-top: 167px;
}
.slider__article {
	padding-top: 80px;
	position: relative;
}
.slider__h1 {
	display: inline-block;
	vertical-align: top;
	width: 505px;
	color: #fff;
    font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 56px;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.slider__h3 {
	display: inline-block;
	vertical-align: top;
	width: 505px;
	color: #edbfff;
    font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 31px;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.slider__p {
	display: inline-block;
	vertical-align: top;
	width: 505px;
	font-family: 'Open Sans Light', Arial, sans-serif;
	color: #fff;
	font-size: 18px;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	line-height: 24px;
	margin-top: 7px;
}
.slider__img {
	float:right;
	margin-top: -185px;
	margin-right: 255px;
	position: relative;
}
.slider__item1 {
	position: absolute;
	top: 80px;
	left: -89px;
}
.slider__item2 {
	position: absolute;
	top: 0px;
	left: -13px;
	z-index:2;
}
.play {
	width: 83px;
	height: 81px;
	border: 0px;
	outline: none;
	border-radius: 50%;
	position: absolute;
	top: 148px;
	left: 45px;
	background: url('../img/play.png');
	z-index:3;
}
.slider__left-array,
.slider__right-array  {
 	width: 30px;
 	height: 42px;
 	background-image: url('../img/array.png');
 	background-repeat: no-repeat;
 	position: absolute;
 	top: 179px;
 	cursor: pointer;
 	background-color: transparent;
 	border: 0;
 	padding: 0;
 	margin: 0;
}
.slider__left-array {
	left: -321px;	
}
.slider__right-array {
	background-position: -30px 0px;
	right: -323px;
}
.navigition {
	width: 83px;
	height: 20px;
	position: absolute;
	font-size: 0;
}
.navigition.slider {
	bottom: -197px;
	left: 711px;
}
input[type='radio'] {
	opacity:0;
	position: absolute;
	z-index: 10;
	top: -5px;
	left: -5px;
	width: 17px;
	height: 17px;
}
.navigition__item {
	float: left;
	position: relative;
	margin-right: 5px;
	width: 17px;
	height: 17px;
}
.navigition__item.last {
	margin-right: 0px;
} 
.navigition__item-decoration.slider::before {
	content:'';
	display:block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	top: -3px;
	cursor: pointer;
}
.navigition__item-decoration.slider::before  {
	background: rgba(0,0,0,.6);
	padding: 3px;
}
input[type="radio"]:checked+.navigition__item-decoration.slider::before {
	background: linear-gradient(to top, #d4d4d4 0%, #fff 100%);
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,.8);
}
/******************** ABOUT ********************/
.about__wrapper {
	width: 100%;
    background-image: linear-gradient(to top, #312539 0%, #745083 100%);
	border-bottom: 1px solid #1d2f37;
	box-sizing: border-box;
	padding-top: 77px;
	padding-bottom: 69px;
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	position: relative;
	z-index: 5;
}
.flex {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.adout__article {
	width: 32%;
	box-sizing: border-box;
	position: relative;
}
.about__header {
	color: #fff;
    font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 30px;
	text-shadow: 0 1px 0 #0e1418;
	margin-bottom: 7px;
}
.adout__article:first-child::before {
	content:'';
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 32px;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: 2px 0px;
	position: absolute;
	top: 6px;
	left: 6px;
}
.adout__article:nth-child(2)::before {
	content:'';
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 32px;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -32px 0px;
	position: absolute;
	top: 6px;
	left: 18px;
}
.adout__article:last-child::before {
	content:'';
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 32px;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -70px 0px;
	position: absolute;
	top: 6px;
	left: 32px;
}
.about__text {
	color: #454545;
	font-family: 'Open Sans Light', Arial, sans-serif;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
	line-height: 24px;
}
.about__more,
.about__more-sm {
	color: #fff;
	font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 18px;
	text-shadow: 0 1px 0 #0e1418;
	text-decoration: none;
	text-transform: uppercase;
	float: right;
	margin-top: 20px;
}
.about__more:hover {
	text-shadow: 0 0 8px rgba(255,255,255,.8);
}
.adout__article.first {
	padding-left: 64px;
}
.adout__article.second {
	padding-left: 75px;
}
.adout__article.third {
	padding-left: 81px;
}
.about__more.first{
	margin-right: 29px;
}
.about__more.second{
	margin-right: 12px;
}
.about__more.third{
	margin-right: 1px;
}
/******************** BLOG ********************/
.blog__wrapper {
	background: #f9f9f9;
	padding-top: 98px;
	padding-bottom: 90px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
}
.blog__element.first {
	float: left;
	width: 427px;	
	padding: 30px 11px 37px 39px;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	background: #fff;
	position: relative;
	margin-left: 23px;
}
.blog__element.first::after {
	content:'';
	width: 20px;
	height: 22px;
	background: url('../img/triangle-decor.png');
	position: absolute;
	bottom: -22px;
	right: 40px;
}
.blog__element__header {
	color: #000;
	font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 30px;
	text-shadow: 0 1px 0 #fff;
	margin-bottom: 9px;
	position: relative;
	text-transform: uppercase;
}
.blog__element.second>.blog__element__header {
	margin-left: 5px;
}
.blog__element__header>span {
	color: #edbfff;
}
.blog__element__header.here::before {
	content:'';
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: url('../img/photo-blog.png');
	position: absolute;
	top: -13px;
	left: -66px;
}
.blog__element__text {
	color: #454545;
	font-family: 'Open Sans Light', Arial, sans-serif;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
	line-height: 24px;
}
.navigition.blog {
	bottom: -46px;
	left: 173px;
}
.navigition__item-decoration.blog {
	display:block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
}
.navigition__item-decoration.blog::before {
	content:'';
	display:block;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	top: 2px;
	left: 2px;
	cursor: pointer;
}
.navigition__item-decoration.blog::before  {
	background-color: #fff;
}
input[type="radio"]:checked+.navigition__item-decoration.blog::before {
	border: 1px solid #454545;
    background-image: -o-linear-gradient(to top, #454545 0%, #6a6a6a 100%);
    background-image: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
}
.blog__element.second {
	float: right;
	margin-right: 10px;
	padding-top: 30px;
	box-sizing: border-box;
}
.blog__element__article--updates {
	box-sizing: border-box;
	padding-left: 74px;
}
.blog__element__h4--updates {
	color: #454545;
	font-family: 'Open Sans Extrabold', Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	line-height: 36px;
}
.blog__element__text--updates {
	color: #454545;
	font-family: 'Open Sans Light', Arial, sans-serif;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
	line-height: 14px;
}
.blog__element__article--updates.first {
	margin-bottom: 17px;
	position: relative;
}
.blog__element__article--updates.second {
	margin-bottom: 14px;
	position: relative;
}
.blog__element__article--updates.third {
	position: relative;
}
.blog__element__article--updates.first::before {
	content:'';
	width: 49px;
	height: 49px;
	display: inline-block;
	position: absolute;
	top: 7px;
	left: 8px;
	background-image: url('../img/sprite-img.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.blog__element__article--updates.second::before {
	content:'';
	width: 49px;
	height: 49px;
	display: inline-block;
	position: absolute;
	top: 7px;
	left: 8px;
	background-image: url('../img/sprite-img.png');
	background-repeat: no-repeat;
	background-position: 0px -50px;
}
.blog__element__article--updates.third::before {
	content:'';
	width: 49px;
	height: 49px;
	display: inline-block;
	position: absolute;
	top: 7px;
	left: 8px;
	background-image: url('../img/sprite-img.png');
	background-repeat: no-repeat;
	background-position: 0px -100px;
}
.about__more.blog,
.about__more-sm.blog {
	clear: both;
	margin-top: 27px;
	margin-right: 13px;
	color: #454545;
	text-shadow: 0 1px 0 #fff;
}
.about__more.blog:hover,
.about__more-sm.blog:hover  {
	text-shadow: 0 0 8px rgba(0,0,0,.8);
}
.about__more-sm.blog { 
	display: none;
}
/******************** PARTNERS ********************/
.partners {
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background: #f9f9f9;
	padding-top: 24px;
	padding-bottom: 31px;
}
.partners__navigations {
	font-size: 0;
	padding: 0px 84px 0px 94px;
}
.partners__navigations__items--1,
.partners__navigations__items--2,
.partners__navigations__items--3,
.partners__navigations__items--4,
.partners__navigations__items--5,
.partners__navigations__items--6 {
	display: inline-block;
	vertical-align: middle;
}
.partners__navigations__items--link--1,
.partners__navigations__items--link--2,
.partners__navigations__items--link--3,
.partners__navigations__items--link--4,
.partners__navigations__items--link--5,
.partners__navigations__items--link--6 {
	display: block;
}
.partners__navigations__items--img--1,
.partners__navigations__items--img--2,
.partners__navigations__items--img--3,
.partners__navigations__items--img--4,
.partners__navigations__items--img--5,
.partners__navigations__items--img--6 {
	display: block;
}
.partners__navigations__items--1 {
	margin-right: 64px;	
}
.partners__navigations__items--2 {
	margin-right: 64px;
}
.partners__navigations__items--3 {
	margin-right: 75px;
}
.partners__navigations__items--4 {
	margin-right: 68px;
}
.partners__navigations__items--5 {
	margin-right: 66px;
}
/******************** LOREM ********************/
.lorem {
	background: #ececec;
	border-top: 1px solid #d8d8d8;
	padding-top: 95px;
	padding-bottom: 92px;
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	position: relative;
	z-index: 5;	
}
.news {
	width: 33.33333%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.copyright {
	display: inline-block;
	margin-top: 18px;
	color: #c5c5c5;
	font-family: "Georgia", 'Times New Roman', Times, serif;
	font-size: 16px;
	font-style: italic;
	text-shadow: 0 1px 0 #fff;
}
.news__header,
.news__header--sm {
	color: #454444;
	font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 30px;
	text-shadow: 0 1px 0 #fff;
}
.news__header--sm {
	display: none;
}
.news__text {
	color: #787878;
	font-family: 'Open Sans Light', Arial, sans-serif;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
	line-height: 24px;
	margin-top: 11px;
	height: 168px;
	overflow: hidden;
}
.news--first>.news__text {
	height: 120px;
	margin-top: 14px;
}
.news--first {
	padding-right: 37px;
}
.news--second {
	padding-left: 18px;
	padding-right: 18px;
}
.news--third {
	padding-left: 36px;	
	padding-right: 0px;
}
/******************** FOOTER ********************/
footer {
	height: 113px;
	box-sizing: border-box;
	padding-top: 46px;
	background: #c6c6c6;
	background-image: url('../img/bg_bottom.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:  50% 50%;
}
.design {
	float: right;
	margin-top: 7px;
	color: #fff;
	font-family: 'Open Sans Light', Arial, sans-serif;
	font-size: 12px;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}
.design__link {
	color: #fff;
	font-family: 'Open Sans Extrabold', Arial, sans-serif;
	text-decoration: none;
}
.design__link:hover {
	text-decoration: underline;
}
.footer__menu {
	float: left;
}
.footer__menu__inner {
	float: left;
	margin-right: 42px;
}
.footer__menu__link {
	display: block;
	color: #fff;
    font-family: 'League Gothic Regular', Arial, sans-serif;
	font-size: 20px;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
	text-decoration: none;
	text-transform: uppercase;
}
.footer__menu__inner.last {
	margin-right: 0px;
}
.footer__menu__inner.margin {
	margin-right: 45px;
}
.footer__menu__inner::after {
	display: block;
	content:'';
	height: 1px;
	width: 0%;
	background: #edbfff;
	transition: width .2s ease-in-out;
	margin: 0 auto;
}
.footer__menu__inner:hover:after,
.footer__menu__inner:focus:after {
    width: 100%;
}
