* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: "Tahoma";
}
.container {
	width: 960px;
	height: 883px;
	background: url('../img/background.jpg') no-repeat center;
	margin: 0 auto;
	padding: 57px 73px 31px 70px;
	box-sizing: border-box;
}
header>a {
	display: inline-block;
	font-size: 0;
}
header>a>img {
	width: 266px;
	height: 147px;
}
.contacts {
	float: right;
	max-width: 95px;
	margin-top: 95px;
	margin-right: 15px;
}
.contacts>p {
	display: block;
	color: #e5e5e5;
	font-size: 8px;
}
.contacts>p:first-child {
	font-size: 12px;
	line-height: 18px;		
}
.container-items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.box-item {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #e5e5e5;
}
.box-item:hover{
	text-decoration: underline;
}
.box-item:hover .item {
	opacity:.5;
}
.item {
	width: 259px;
	height: 176px;
	border: 1px solid #9b9b9b;
	-webkit-box-shadow: 0px 0px 1px 2px rgba(105,105,105,1), inset 0px 0px 2px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 2px rgba(105,105,105,1), inset 0px 0px 2px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 2px rgba(105,105,105,1), inset 0px 0px 2px 2px rgba(0,0,0,0.75);
	overflow: hidden;
	margin-bottom: 3px;
	border-radius: 1px;
}
.box-item>span {
	color: #e5e5e5;
	font-size: 15px;
}
.india {
	background:  url(../img/india.jpg) center no-repeat;
}
.nepal {
	background:  url(../img/nepal.jpg) center no-repeat;
}
.tibet {
	background:  url(../img/tibet.jpg) center no-repeat;
}
.sri-lanka {
	background:  url(../img/sri-lanka.jpg) center no-repeat;
}
.maldives {
	background:  url(../img/maldives.jpg) center no-repeat;
}
.bhutan {
	background:  url(../img/bhutan.jpg) center no-repeat;
}
footer {
	margin-top: 175px;
	text-align: center;
}
footer>span {
	color: #e5e5e5;
	font-size: 10px;
	font-family: Tahoma;
}


